{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Results {% endblock %}

{% block content %}

{% if player.id_in_group < 5 %}
<table class="table-condensed" style="width:500px; margin-top:20px;">

        <tr><td>Your initial endowment was:</td><td>{{ Constants.endowment }}</td></tr>
        <tr><td>The minimum contribution rule was:</td><td>{{ group.minimum_contribution_rule }}</td></tr>
        <tr><td>You contributed:</td><td>{{ player.contribution3 }}</td></tr>
        <tr><td>Other participants contributed:</td><td></td></tr>
        {% for p in player.get_others_in_group %}
            <tr><td></td><td>{{ p.contribution3 }}</td></tr>
        {% endfor %}

        <tr><td>Total contribution:</td><td>{{ group.total_contribution3 }}</td></tr>

        <tr><td colspan="2"><hr/></td></tr>

        <tr><td>Your earnings from the group account:</td><td>{{ group.individual_share3 }}</td></tr>

        <tr><td colspan="2"><hr/></td></tr>

        <tr><td>Thus in total you earned:</td><td>{{ player.payoff3 }}</td></tr>

    </table>
    <p></p>

{% else %}

<table class="table-condensed" style="width:500px; margin-top:20px;">

        <tr><td>Your initial endowment was:</td><td>{{ Constants.endowment }}</td></tr>
        <tr><td>The minimum contribution rule was:</td><td>{{ group.minimum_contribution_rule }}</td></tr>
        <tr><td>Other participants contributed:</td><td></td></tr>
        {% for p in player.get_others_in_group %}
            <tr><td></td><td>{{ p.contribution3 }}</td></tr>
        {% endfor %}
        <tr><td>Total participant contribution:</td><td>{{ group.total_contribution3 }}</td></tr>

        <tr><td colspan="2"><hr/></td></tr>

        <tr><td>Your Rulemaker salary is:</td><td>{{ player.payoff3 }}</td></tr>

    </table>
    <p></p>

{% endif %}


{% next_button %}

{% endblock %}
